* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Cormorant', serif;
    font-size: 25px;
}

/*Primary Nav section*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 5px solid #F28C28;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.logo {
    display: inline-flex;
    max-height: 65px;
    width: auto;
    margin: 25px;
}

.logo:hover {
    transform: scale(1.15);
}

.primarynav li {
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.primarynav a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.primarynav a:hover {
    transform: scale(1.25);
    color: #F28C28;
}

/* Banner section */

header {
    background-image: url("https://github.com/hclif93/hclif93.github.io/blob/main/3112678.jpeg?raw=true");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 700px;
    width: auto;
    margin: 0 auto;
}

#bannercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.banneroverlay img {
    width: 600px;
    margin: auto;
    padding: 10px;
}

/* About section */

#About {
    padding: 30px 85px;
    line-height: 30px;
}

.Julie {
    display: flex;
    padding-left: 150px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.Julie p {
    justify-self: left;
    align-self: center;
    line-height: 30px;
    padding: 50px;
}

.Julie img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* Products section */
#products {
    background-color: rgba(242, 140, 40, 0.7);
    padding-bottom: 50px;
}

.productsheader {
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 50px;
}

.productsimages {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
}

.image {
    background-color: #FAD5A5;
    padding: 20px;
    border-radius: 15px;
}

.image:hover {
    transform: scale(1.08);
}

.image img {
    margin: 10px auto;
    height: 250px;
    width: 400px;
    border-radius: 15px;
}

/* Contact section */

#contact {
    margin-top: 35px;
}
.socialsinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.socials:hover {
    transform: scale(1.25);
}

/* Footer section */

footer {
    text-align: center;
    margin: 35px 20px;
}

/* Media queries */

@media only screen and (max-width: 1115px) {
    .Julie {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 30px 85px;
}
    .Julie img {
        align-self: center;
}
    .Julie p {
        padding: 0;
        margin: 0;
}
        
    
@media only screen and (max-width: 800px) {
    .banneroverlay img {
        width: 475px;
}

@media only screen and (max-width: 600px) {  
    .primarynav a {
        display: none;
}
    .banneroverlay img {
        width: 350px;
}
   
